{% extends "::base.html.twig" %}

{% block title %}Viewing Doodles{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/gouttedoodle/css/list.css') }}">
{% endblock %}

{% block body %}

{% for doodle in doodles %}
<div class="doodle">
  <a href="{{ path('doodle_view', { 'id': doodle.id }) }}">
    <img src="{{ doodle.data }}" alt="Doodle #{{ doodle.id }}" width="128" height="128" />
  </a>
  <br />
  <p>{{ doodle.message }}</p>
</div>
{% endfor %}

{% endblock %}
