<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Don't be evil™{% endblock %} -- Antoine Goutenoir</title>
  <meta name="description" content="Just doodle it. Think, Feel, Share." />

  <meta name="viewport" content="width=device-width" />

  <link rel="icon" type="image/x-icon" sizes="32x32" href="{{ asset('fractalpharobase.ico') }}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('fractalpharobase_114.png') }}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('fractalpharobase_72.png') }}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('fractalpharobase_57.png') }}" />

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/gouttedoodle/compass/stylesheets/screen.css') }}" />
{% endblock %}

  <script type="text/javascript" src="{{ asset('bundles/gouttedoodle/js/libs/modernizr-2.5.3.min.js') }}"></script>
</head>
<body>

  {#### CHROME FRAME ##################################################################################################}

  <!--[if lt IE 7]>
  <p class=chromeframe>
    Your browser is <em>prehistoric!</em>
    <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
    <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
    to experience this site. You can also write me an email !
  </p>
  <![endif]-->


  {#### BODY ##########################################################################################################}

{% block body %}{% endblock %}


  {#### JAVASCRIPT at the bottom for fast page loading ################################################################}

  <script type="text/javascript" src="{{ asset('bundles/gouttedoodle/js/libs/mootools-core-1.4.5.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/gouttedoodle/js/libs/mootools-more-1.4.0.1.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/gouttedoodle/js/libs/paper.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/gouttedoodle/js/plugins.js') }}"></script>


{% block javascripts %}{% endblock %}

  {#### ANALYTICS #####################################################################################################}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18803919-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
