{# Needs doodle as param, will show a quick thumbnail (256x256) with the message below #}

<div class="doodle">
  <a href="{{ path('doodle_view', { 'id': doodle.id }) }}">
    <img src="{{ doodle.data }}" alt="Doodle #{{ doodle.id }}" width="256" height="256" />
  </a>
  <br />
  <p>{{ doodle.message }}</p>
  <ul class="actions">
      <li>
          <a class="erase" href="{{ path('doodle_erase', { 'id': doodle.id }) }}">Erase</a>
      </li>
  </ul>
</div>